.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input{
    width: 80%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

input {
    width: 50%;
}