*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-categories {
    width: 100%;
}

.categories-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.categories-name {
    background-color: #f5f5f5;
    width: 270px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;

}

span a {
    text-decoration: none;
}


