*{
    padding: 5px;
}
.home {
    width: 100%;
}
.cupom-loja{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 175px);
    gap: 10px;
    justify-content: center;
}

.cupom-item {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}